server:
  port: ${X_ZOHO_CATALYST_LISTEN_PORT:8080}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  # h2:
  #   console:
  #     enabled: true
  #     path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  devtools:
    restart:
      enabled: false

springdoc:
  api-docs:
    enabled: true

application:
  name: hospital-booking-backend

groq:
  api:
    key: ${GROQ_API_KEY}
